/* Taller 6
hoja de estilo css
Mendoza Parraga Andres Gonzalo
Fecha: 7/12/2020 */

body {
    background-image:url(1607001054052.jpg); background-size: cover; font-family: Georgia, Cambria, serif; font-size: 16px;
}
.container1 {
    position: relative;
    width: 25%;
    height: 130%;
    padding: 1rem;
    border-radius: 2px;
    background-color: #68fce880;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-action {
    padding: 0 20px;
    position: relative;
}

.form-action h1 {
    font-size: 42px;
    padding-bottom: 10px;
}
.form-action p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 25px;
}
form {
    padding-right: 20px !important;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=submit] {
    font-family: 'Roboto';
}

form input[type=text],
form input[type=email],
form input[type=password] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    background: #fff; 
    border: none;
    color: #e74c3c;   
    outline: none;
}

.dark-box {
    background: #5e0400;
    box-shadow: 1px 3px 3px #3d0100 inset;
    height: 40px;
    width: 50px;
}
.form-action .dark-box.bottom {
    position: absolute;
    right: 0;
    bottom: -24px;
}
.button{
	position: relative;
	display: block;
	padding: 25px 10px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	margin-bottom: 60px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#2b2c2c;
}
.button:after,
.button:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
.button:before{
	left: -48%;
}
 
.button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#0d3023
}
.button:hover:after,
.button:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.75s;
}
 
.button:hover:after{
	right: 130%;
}
 
.button:hover:before{
	left: 130%;
}

p {
    font-size: 12px;
    width: 150px;
    display: inline-block;
    margin-left: 15px;
  }
.testbox {
margin: 20px auto;
width: 343px; 
height: 464px; 
-webkit-border-radius: 8px/7px; 
-moz-border-radius: 8px/7px; 
border-radius: 8px/7px; 
background-color: #ebebeb; 
-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
border: solid 1px #cbc9c9;
}