/* Taller 5
Archvivo css
Mendoza Parraga Andres Gonzalo
Fecha: 3/12/2020 */

body {
    color: rgb(28, 60, 61); background-color: rgb(188, 255, 252); font-family: Georgia, Cambria, serif; font-size: 16px;
} 

.container1 {
    position: relative;
    width: 70%;
    height: 20%;
    padding: 2rem;
    border-radius: 2px;
    background-color: #b6b6985b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    position: relative;
    width: 70%;
    height: 20%;
    padding: 2rem;
    border-radius: 2px;
    background-color: #6fbb805b;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
	position: relative;
	display: block;
	padding: 25px 10px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	margin-bottom: 60px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#2b2c2c;
}
.button:after,
.button:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
.button:before{
	left: -48%;
}
 
.button:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#0d3023
}
.button:hover:after,
.button:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.75s;
}
 
.button:hover:after{
	right: 130%;
}
 
.button:hover:before{
	left: 130%;
}